figure{
    background-color: #fff8f4;
    border-radius: 10px;
    border: 2px black solid;
    text-align: center;
    flex-grow: 1;

    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    
    img{
        width: 100%;
        height: auto;
    }
}

figcaption{
    margin-bottom: 10px;
    font-size: 18px;
}

figure:hover{
    transform: translate(0, -2px);
    border-color: #007BFF;
}

figure:focus{
    transform: translate(0, -2px);
}

figure:active{
    opacity: 70%;
}
